body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;

}
h1{
    font-size: 45px;
}
header{
    background-color:rgb(218, 216, 216);
    height: 20%;
    font-size: 60px;
}
article{
    background-color: aliceblue;
    max-width: 60%;
}
footer{
    background-color: dimgray;
    height: 20%;
}


.zdjecie{
    margin: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

table{
    margin-top: 30px;
    margin-bottom: 50px;
    border-collapse: collapse;
    width: 100%;

}

  tr:hover {background-color: coral;}
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }